body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #222831;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  #login {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #222831;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #222831;
  }
  